<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litchi.pocketcommunity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FitsSystemWindowsTheme">
        <activity android:name=".featrue.building.BuildingActivity"></activity>
        <activity android:name=".featrue.edituser.EditUserActivity" />
        <activity android:name=".featrue.adduser.AddUserActivity" />
        <activity android:name=".featrue.management.ManagementActivity" />
        <activity android:name=".featrue.addnotice.AddNoticeActivity" />
        <activity android:name=".featrue.addproposal.AddProposalActivity" />
        <activity android:name=".featrue.proposaldetail.TransferListActivity" />
        <activity
            android:name=".featrue.proposaldetail.ProposalDetailActivity"
            android:theme="@style/DarkStatusBarTheme" />
        <activity android:name=".featrue.park.ParkActivity" />
        <activity android:name=".featrue.bill.BillActivity" />
        <activity
            android:name=".featrue.proposal.ProposalActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".featrue.noticedetail.NoticeDetailActivity"
            android:theme="@style/DarkStatusBarTheme" />
        <activity android:name=".featrue.home.HomeActivity" />
        <activity
            android:name=".featrue.account.AccountActivity"
            android:theme="@style/DarkStatusBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>